*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #0a0a23;
  --white: #ffffff;
  --violet: #5a01a7;
  --violet-shadow: #002ead;
  --green: #00471b;
}

body {
  color: var(--white);
  background-color: var(--dark-grey);
}

main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.palindrome-div {
  width: min(100vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 6px 6px var(--violet-shadow);
}
.palindrome-div label {
  color: #0a0a23;
  margin-bottom: 20px;
}

.palindrome-input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
  border-bottom: 2px solid var(--violet);
}

.palindrome-btn  {
  width: 90px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color:var(--violet);
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.results-div {
  color: var(--dark-grey);
  font-size: 20px;
}

.palindrome-info {
  width: min(100vw, 450px);
  font-size: 1.3rem;
  min-height: 140px;
  background-color: var(--green);
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}